# Our sloppified fork
docs/

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/OpenKey/win32/OpenKey/.vs/OpenKey
/Sources/OpenKey/win32/OpenKey/x64/Debug
/Sources/OpenKey/win32/OpenKey/x64/Release
/Sources/OpenKey/win32/OpenKey/Release/
/Sources/OpenKey/win32/OpenKey/OpenKey/x64/Debug
/Sources/OpenKey/win32/OpenKey/OpenKey/x64/Release
/Sources/OpenKey/win32/OpenKey/OpenKey/Release/
/Sources/OpenKey/win32/OpenKey/OpenKeyUpdate/x64/Release
/Sources/OpenKey/win32/OpenKey/OpenKeyUpdate/Release/
/Sources/OpenKey/win32/OpenKeyTIP/Win32/
/Sources/OpenKey/win32/OpenKeyTIP/x64/
/Sources/OpenKey/win32/OpenKeyTIP/OpenKeyTIP/Win32/
/Sources/OpenKey/win32/OpenKeyTIP/OpenKeyTIP/x64/
/Sources/OpenKey/win32/OpenKeyTIPTests/Win32/
/Sources/OpenKey/win32/OpenKeyTIPTests/x64/
/Sources/OpenKey/win32/OpenKeyTIPTests/Release/
/Sources/OpenKey/win32/OpenKeyTIPTests/OpenKeyTIPTests/
/Sources/OpenKey/win32/OpenKeyTIP/Release/
